/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/app/Resources/assets/vendor/
/web/assets/vendor/
/web/assets/less/
.sass-cache/
node_modules/
/vendor/
/composer.phar