server {
  listen      80;

  server_name {{ project_name }}.dev;
  root {{ project_directory }}/web;

  access_log /var/log/nginx/{{ project_name }}.dev.access.log;
  error_log /var/log/nginx/{{ project_name }}.dev.error.log;

  proxy_buffer_size           128k;
  proxy_buffers               4 256k;
  proxy_busy_buffers_size     256k;

  location / {

    index app_dev.php
    try_files $uri @rewriteapp;

    if (-f $request_filename) {
      expires max;
      break;
    }

    if ($request_filename !~ "\.(js|htc|ico|gif|jpg|png|css)$") {
      rewrite ^(.*) /app_dev.php last;
    }

  }

  location @rewriteapp {
    rewrite ^(.*)$ /app_dev.php/$1 last;
  }

  location ~ /app_dev\.php($|/) {
    set  $script     $uri;
    set  $path_info  "";

    if ($uri ~ "^(.+\.php)(/.*)") {
      set  $script     $1;
      set  $path_info  $2;
  }

    fastcgi_pass            unix:/var/run/php-fpm-www.sock;
    fastcgi_index               app_dev.php;
    include                     /etc/nginx/fastcgi_params;

    fastcgi_param               SCRIPT_FILENAME   {{ project_directory }}/web$script;
    fastcgi_param               PATH_INFO         $path_info;
    fastcgi_param               SCRIPT_NAME       $script;

    fastcgi_buffer_size         512k;
    fastcgi_buffers             16 512k;
    fastcgi_busy_buffers_size   512k;
  }

  location ~ /\.ht {
    deny all;
  }
}
