<aside class="main-sidebar">

    <section class="sidebar">

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span>{% trans %}application.admin.sidebar.config.a.span{% endtrans %}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li>
                        <a href="{{ url('admin_users_list', {}, true) }}">
                            <i class="fa fa-angle-double-right"></i>
                            <span>{% trans %}application.admin.sidebar.config.li.users.a.span{% endtrans %}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </section>

</aside>
